CREATE DATABASE 
TRANSACTION LOG ON
COLLATION 'UTF8BIN'
ENCODING 'UTF-8'
NCHAR COLLATION 'UTF8BIN'
PAGE SIZE 4096
IQ PATH
IQ SIZE 2048
IQ PAGE SIZE 65536
IQ RESERVE 104857600
TEMPORARY PATH
TEMPORARY SIZE 1024
;
